/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=Rubik:wght@400;500;600;700&display=swap");

body {
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Header Section */
.header-section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  padding: 0 75px;
  border-bottom: 1px solid #d5d1cf;
}
.main-menu ul li {
  display: inline-block;
  margin-left: 55px;
}
.main-menu ul li a {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #343434;
  display: inline-block;
  padding: 44px 0;
  transition: all 0.5s ease;
}
.main-menu ul li a:hover {
  color: #505cfd;
  text-decoration: none;
}
.hire-btn {
  margin-left: 55px;
}
.btn {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #343434;
  display: inline-block;
  padding: 18px 55px;
  border-radius: 30px;
  border: 1px solid #505cfd;
  transition: all 0.5s ease;
}
.btn:hover {
  background-color: #505cfd;
  color: #fff;
  border: 1px solid #fff;
}
/* Banner Section */
.single-banner {
  height: 100vh;
  background-size: cover;
  background-position: center center;
}
.banner-text {
  padding: 0 560px;
}
.social-icons {
  margin-bottom: 40px;
}
.social-icons ul li {
  display: inline-block;
  margin: 0 15px;
}
.social-icons ul li a {
  color: #505cfd;
  font-size: 18px;
}
.banner-text h1 {
  color: #595959;
  font-size: 72px;
  font-weight: 600;
}
.banner-text p {
  color: #343434;
  margin-top: 25px;
}
.banner-text a {
  margin-top: 50px;
}
/* Features Section */
.features-section {
  margin-top: -150px;
  position: relative;
  z-index: 9999;
}
.features-bg {
  background-color: #505cfd;
  border-radius: 10px;
}
.single-features {
  padding: 55px 55px 38px;
}
.single-features i {
  font-size: 30px;
}
.single-features h2 {
  font-size: 22px;
  font-weight: 600;
  margin-top: 30px;
}
.single-features p {
  margin-top: 20px;
}
/* About Section */
.about-section {
  padding: 100px 0;
}
.about-text h2 {
  color: #404044;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 30px;
}
.about-text h2::after {
  content: "";
  height: 3px;
  width: 60px;
  background-color: #505cfd;
  display: block;
  position: absolute;
  bottom: 75%;
}
.about-text p {
  color: #595959;
  margin-bottom: 50px;
}
/* CTA Section */
.cta-section {
  background: url(../img/cta-banner.jpg) no-repeat center center / cover;
  padding: 55px 0;
}
.heading-text h2 {
  font-size: 32px;
  font-weight: 600;
  color: #404044;
  margin-bottom: 20px;
}
.heading-text p {
  color: #595959;
  margin-bottom: 60px;
}
.cta-section input {
  width: 100%;
  height: 46px;
  padding: 30px;
  border-radius: 30px;
  border: 0;
}
.cta-section input::placeholder {
  color: #808080;
  font-size: 14px;
}
.cta-section input:focus-visible {
  outline: 0;
}
#subscribe {
  background-color: #505cfd;
  color: #fff;
  line-height: 5px;
  font-weight: 600;
  transition: all 0.5s ease;
}
#subscribe:hover {
  background-color: #303ace;
}
/* Services Section */
.services-section {
  padding: 100px 0;
}
.single-services {
  padding: 60px 50px;
  border: 1px solid #ebebeb;
  transition: all 0.5s ease;
}
.single-services i {
  font-size: 48px;
  color: #505cfd;
  margin-bottom: 45px;
  display: block;
}
.single-services h2 {
  color: #3f3f3f;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
  transition: all 0.5s ease;
}
.single-services p {
  color: #595959;
  margin-bottom: 50px;
  transition: all 0.5s ease;
}
.single-services:hover {
  background-color: #343434;
}
.single-services:hover h2 {
  color: #fff;
}
.single-services:hover p {
  color: #777777;
}
.single-services:hover a {
  color: #fff;
}
/* Pricing Section */
.pricing-section {
  background-color: #e7e8fe;
  padding: 88px 0;
}
.single-pricing {
  border: 1px solid #cfd1fc;
  padding: 42px 0;
  transition: all 0.5s ease;
}
.single-pricing h2 {
  padding-bottom: 35px;
  border-bottom: 1px solid #cfd1fc;
  color: #3f3f3f;
  font-weight: 600;
  font-size: 22px;
}
.single-pricing a {
  margin-top: 40px;
}
.single-pricing p {
  color: #505cfd;
  font-size: 40px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-top: 30px;
}
.single-pricing p sup {
  font-size: 20px;
  font-weight: 500;
}
.single-pricing ul li {
  color: #595959;
  margin-top: 20px;
}
.single-pricing:hover {
  background-color: #fff;
  box-shadow: 0px 15px 30px 0px rgba(80, 92, 253, 0.1);
}
/* Counters Section */
.counters-section {
  background-color: #505cfd;
  padding: 60px 0;
}
.single-counters i {
  font-size: 35px;
  display: block;
  margin-bottom: 22px;
}
.single-counters span {
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  display: block;
}
.single-counters p {
  margin-top: 15px;
  margin-bottom: 0;
}
/* Team Section */
.p-0 {
  padding: 0;
}
.team-text {
  background-color: rgba(255, 255, 255, 0.753);
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s ease;
}
.team-text h3 {
  color: #3f3f3f;
  font-size: 22px;
  font-weight: 600;
}
.team-text span {
  display: block;
  color: #595959;
  margin-bottom: 14px;
}
.team-text .social-icons {
  margin: 0;
}
.team-text ul li {
  margin: 0 5px;
}
.team-text ul li a {
  color: #333333;
}
.single-teams:hover .team-text {
  visibility: visible;
  transform: scale(1);
  opacity: 1;
}
/* Blog Section */
.blog-section {
  padding: 100px 0;
}
.blog-meta {
  margin-bottom: 10px;
}
.blog-meta span {
  font-size: 14px;
  color: #595959;
  text-transform: uppercase;
  display: inline-block;
}
.blog-meta .line {
  width: 50px;
  height: 1px;
  background-color: #343434;
  margin-left: 18px;
}
.single-blog h2 {
  color: #3f3f3f;
  font-size: 22px;
  font-weight: 600;
  margin: 22px 0;
}
.single-blog p {
  color: #595959;
  margin-bottom: 35px;
}
/* Testimonials Section */
.testimonials-section {
  padding: 100px 0;
  background: url(../img/Testimonials.jpg) no-repeat center center / cover;
}
.single-testimonials {
  background-color: rgba(255, 255, 255, 0.753);
  padding: 60px;
}
.single-testimonials h3 {
  color: #505cfd;
  font-size: 22px;
  font-weight: 600;
}
.single-testimonials span {
  color: #595959;
  display: block;
  margin-top: 10px;
}
.single-testimonials p {
  color: #595959;
  margin: 30px 0;
}
.testimonials-active .owl-dots .owl-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #595959;
  margin: 0 5px;
}
.testimonials-active .owl-dots .owl-dot.active {
  background-color: #595959;
}
.testimonials-active .owl-dots {
  margin-top: -55px;
  z-index: 999;
  position: relative;
}
/* Partner Section */
.partner-section {
  padding: 100px 0;
}
.single-partner img {
  width: 228px;
  height: 118px;
}
/* Footer Section */
.footer-section {
  background-color: #343434;
}
.footer-top-area {
  padding: 70px 0;
  border-bottom: 1px solid #494949;
}
.footer-widget h2 {
  color: #ffffff;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 40px;
}
.footer-contact li {
  color: #777777;
  line-height: 36px;
  font-size: 15px;
}
.footer-icons li {
  display: inline-block;
  margin-right: 28px;
  margin-top: 40px;
}
.footer-icons li a {
  color: #fff;
  font-size: 14px;
}
.footer-links li {
  width: 40%;
  float: left;
}
.footer-links li::before {
  content: "\f0da";
  font-family: "Font Awesome 6 free";
  font-weight: 900;
  color: #777777;
  margin-right: 16px;
}
.footer-links li a {
  color: #777777;
  line-height: 36px;
}

.footer-blog li {
  margin-bottom: 26px;
}
.footer-blog li:last-child {
  margin-bottom: 0;
}
.news-thumb {
  float: left;
}
.news-title {
  padding-left: 20px;
  overflow: hidden;
}
.news-title h4 {
  margin: 0;
  line-height: 1;
}
.news-title h4 a {
  color: #777777;
  font-size: 17px;
  line-height: 30px;
}
.news-title span {
  font-size: 15px;
  color: #777777;
  display: block;
}
.footer-bottom-area {
  padding: 40px 0;
}
.footer-copyright p {
  color: #777777;
}
.footer-menu li {
  display: inline-block;
  margin-left: 30px;
}
.footer-menu li a {
  color: #777777;
}
