/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
  .main-menu ul li {
    margin-left: 20px;
  }
  .main-menu ul li a {
    padding: 30px 0;
  }
  .banner-text {
    padding: 0 220px;
  }
  .single-services {
    padding: 20px 15px;
  }
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
  .header-section {
    padding: 0 45px;
  }
  .social-icons {
    margin-bottom: 15px;
  }
  .banner-text a {
    margin-top: 20px;
  }
  .banner-text h1 {
    font-size: 60px;
  }
  .main-menu ul li {
    margin-left: 19px;
  }
  .banner-text {
    padding: 0px 40px;
  }
  .about-text h2 {
    font-size: 25px;
  }
  .footer-links li {
    width: 50%;
  }
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .logo {
    padding: 20px 0;
  }
  .banner-text {
    padding: 10px;
  }
  .social-icons {
    margin-bottom: 15px;
  }
  .banner-text a {
    margin-top: 15px;
  }
  .about-text h2 {
    font-size: 20px;
  }
  .about-text h2::after {
    bottom: 78%;
  }
  .about-text p {
    margin-bottom: 20px;
  }
  .cta-section input {
    margin: 10px 0;
  }
  .single-services {
    padding: 40px 30px;
    margin: 15px 0;
  }
  .single-services p {
    margin-bottom: 30px;
  }
  .single-services i {
    margin-bottom: 30px;
  }
  .single-pricing:last-child {
    margin-top: 30px;
  }
  .single-blog:last-child {
    margin-top: 30px;
  }
  .footer-widget:last-child {
    margin-top: 30px;
  }
}

/* small mobile :320px. */
@media (max-width: 767px) {
  .header-section {
    padding: 0 15px;
  }
  .logo {
    padding: 20px 0;
  }
  .banner-text {
    padding: 5px;
  }
  .banner-text h1 {
    font-size: 30px;
  }
  .social-icons {
    margin-bottom: 10px;
  }
  .banner-text p {
    margin-top: 15px;
  }
  .banner-text a {
    margin-top: 5px;
  }
  .single-features {
    padding: 20px 28px 20px;
  }
  .about-text h2 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .about-text h2::after {
    bottom: 83%;
  }
  .about-text p {
    margin-bottom: 20px;
  }
  .about-img {
    margin-top: 30px;
  }
  .about-section {
    padding: 60px 0;
  }
  .heading-text h2 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .cta-section input {
    margin: 10px 0;
  }
  .single-services {
    padding: 30px 20px;
  }
  .single-services p {
    margin-bottom: 20px;
  }
  .single-services i {
    font-size: 48px;
  }
  .single-services {
    margin: 15px 0;
  }
  .services-section {
    padding: 60px 0;
  }
  .pricing-section {
    padding: 60px 0;
  }
  .single-pricing {
    margin: 15px 0;
  }
  .single-counters {
    margin: 15px 0;
  }
  .blog-section {
    padding: 60px 0;
  }
  .single-blog {
    margin: 15px 0;
  }
  .single-testimonials {
    padding: 10px;
  }
  .testimonials-active .owl-dots {
    margin-top: -42px;
  }
  .footer-widget {
    margin: 15px 0;
  }
  .footer-links li {
    width: 50%;
  }
  .footer-copyright {
    text-align: center;
  }
  .text-right {
    text-align: center !important;
  }
  .footer-menu li {
    margin: 0;
  }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 450px;
  }
}
